$base-color: #fff;
$text-primary-color: #030D15;
$text-primary-color-2: #F4F9FC;

$background-primary-color-1: #FAFAFA;


$sub-title-color: #C72535;

$primary-color: #247CC0;

$border-primary-color-1: #F3F3F3;
$border-primary-color-2: rgba(0, 0, 0, 0.1);